<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucaoliveira.unicaroneiro"
    android:versionCode="1"
    android:versionName="UniCaroneiro Beta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.lucaoliveira.unicaroneiro.RESTServiceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icmortarboard"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.HomeScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.FinishRegisterActivity"
            android:label="@string/info_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.StartRegisterActivity"
            android:label="@string/info_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.StudentInformationActivity"
            android:label="@string/info_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.LoginActivity"
            android:label="@string/action_sign_in_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.UpdateEmailActivity"
            android:label="@string/info_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.UpdatePasswordActivity"
            android:label="@string/info_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.UpdateRegisterActivity"
            android:label="@string/info_label" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.GoogleLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.ChatRoomActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.lucaoliveira.unicaroneiro.ui.ChatterActivity"
            android:label="@string/app_name" />

        <service android:name="com.lucaoliveira.unicaroneiro.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.lucaoliveira.unicaroneiro.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>